<nav class="teal">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">jQuery</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/movies">Movies</a></li>
      <li><a href="/search">Search</a></li>
      <!-- <li><a href="./movie.html">Single movie</a></li> -->
    </ul>
  </div>
</nav>