<div class="container">
  <h4>Search</h4>
  <div class="input-field">
    <input id="search" type="search" name="search" />
    <label class="active" for="search">Search for a movie here:</label>
  </div>
  <h4>Sort</h4>
  <div class="buttons">
    <div>
      <a class="waves-effect waves-light btn"  id="now-playing">Now Playing</a>
    </div>
    <div>
      <a class="waves-effect waves-light btn" id="top-rated">Top-rated</a>
    </div>
    <div>
      <a class="waves-effect waves-light btn" id="upcoming">Upcoming</a>
    </div>
  </div>
  <h4>Select Genres</h4>
    <ul id="genres">
    </ul>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large teal" href="#">
        <i class="large material-icons">top</i>
      </a>
    </div>
</div>

