<%- include('../partials/head.ejs') %>
<body>
 <%- include('../partials/nav.ejs') %>
    <div class="container">
      <h1>Movie Page</h1>
      <div class="input-field col s12">
        <select id="sort">
          <option value="" disabled selected>Choose your option</option>
          <option value="popularity.desc">Popularity</option>
          <option value="revenue.desc">Revenue</option>
          <option value="release_date.asc">Release Date</option>
        </select>
        <label>Sort function</label>
      </div>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <div id="movies" class="row">

      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <!-- Our JavaScript -->
    <!-- <script src="/js/apiConfig.js"></script> -->
    <script src="/js/movies.js"></script>
  </body>
</html>
