<%- include('../partials/head.ejs') %>
<body>
 <%- include('../partials/nav.ejs') %>
 <div class="progress">
  <div class="indeterminate"></div>
</div>

      <div class="row">

        <div class="col s12 m4 l3">
          <%- include('../partials/sidenav.ejs') %>

        </div>

        <div class="col s12 m8 l9 container" id="movies-container">
          <h2 id="head"></h2>
          <h2 id="total-results">Find something to watch...</h2>
          <div id="movies" class="row"></div>
          <a class="btn-floating btn-large waves-effect waves-light teal hide" id="nextPage"> + </a>
        </div>


    <%- include('../partials/footer.ejs') %>
    <!-- Our JavaScript -->
    <script src="/js/search.js"></script>
  </body>
</html>
